.link {
    float:right;
    margin-bottom: 45px;
}

.googleimg{
    display: inline-block;
    margin-left: 38%;
    margin-right: 35%;
    width: 60%;
}

.index form input{
    border-radius: 40px;
    border: 1px;
    background-color: rgb(240, 238, 238);
    width: 40%;
    padding: 15px;
    font-size: 15px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.index form button{
    border-radius: 20px;
    border: none;
    padding: 10px;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 45%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/* css on advanced search */
#Advtitle{
    font-family: arial;
    font-weight: lighter;
    color:rgb(228, 48, 24);
    margin-top: 60px;
    margin-left: 40px;
    margin-bottom: none;
    
}
.advanced form{
    float: left;
    margin-top: 80px;
    font-family: arial;
    margin-left: 40px;
}

.advanced form input{
    display: inline;
    width: 350px;
}

.advanced form button{
    float: right;
    margin: 5px;
    background-color: rgb(41, 136, 214);
    border: none;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

#luckybtn {
    border-radius: 20px;
    border: none;
    padding: 10px;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 55%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.index #imagesrc{
    border-radius: 20px;
    border: none;
    padding: 10px;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}